<template name="custom_user_complete">
  <div class="grid-small grid-block dialog user-edit">
    <div class="finish-signup-message">
        <i>"Please fill in some more information about yourself. This will help everyone know who they're talking to, and make commercial discussions more transparent."</i>
        <br>
        <br>
    </div>
    {{> quickForm collection="Meteor.users" doc=user id="completeUserForm" template="bootstrap3-horizontal" input-col-class="controls" type="method-update" meteormethod="completeUserProfile" fields=requiredFields}}
  </div>
</template>
