<template name="edit_profile_purchase_button">
    <div class="grid-small grid-block dialog admin">
        <h3>opn.coffee membership</h3>
        <br>
        {{#if isGuest}}
            Get you're opn.coffee membership <button style="float: right" id="customButton">Purchase</button><br><br>
        {{else}}
            You have already purchased an opn.coffee membership
        {{/if}}
        <br>
    </div>

    <script>
        var handler = StripeCheckout.configure({
            key: 'pk_test_XqHlTE3CTNyRlI8JBPt4KjRn',
            image: '/images/android-chrome-72x72.png',
            token: function(token) {
                var user = Meteor.user();
                // Use the token to create the charge with a server-side script.
                // You can access the token ID with `token.id`

                Meteor.call('stripMembershipCheckout' , token, user, function(error, id) {
                    if (error) {
                        // display the error to the user
                        throwError(error.reason);
                    }
                });
            }
        });

        $('#customButton').on('click', function(e) {
            // Open Checkout with further options
            handler.open({
                name: 'Proper Ventures Pty. Ltd.',
                description: 'OPN Coffee Monthly Membership',
                currency: "aud",
                amount: 3900
            });
            e.preventDefault();
        });

        // Close Checkout on page navigation
        $(window).on('popstate', function() {
            handler.close();
        });
    </script>
</template>